<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory System</title>
  <link rel="stylesheet" href="../../test/resources/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
  <div id="wrapper">
    <header id="main-header">
      <div class="logo">
       <a href="/">
        <i class="fas fa-box-open"></i>&nbsp;
        <span>Inventory</span>
       </a>
      </div>
      <nav id="main-navigation">
        <%- include('navigation.ejs'); %>
      </nav>
    </header>
    <main id="main-content">